In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [12]:
box= pd.read_csv('box.csv')
box.head()

,rank,name,w-l-d,division,career,stance,residence
0,1,Ezzard Charles,95�25�1,light heavy,1940-1959,orthodox,"Cincinnati, USA"
1,2,Floyd Mayweather Jr,50�0�0,welter,1996-2017,orthodox,"Las Vegas, USA"
2,3,Archie Moore,186�23�10,light heavy,1935-1963,orthodox,"San Diego, USA"
3,4,Ray Robinson,174�19�6,middle,1940-1965,orthodox,"Harlem, USA"
4,5,Manny Pacquiao,62�7�2,welter,1995-2019,southpaw,"General Santos City, Philippines"

In [13]:
box['w-l-d']= box['w-l-d'].apply(lambda x: x.replace('�', '-'))
box.head()

,rank,name,w-l-d,division,career,stance,residence
0,1,Ezzard Charles,95-25-1,light heavy,1940-1959,orthodox,"Cincinnati, USA"
1,2,Floyd Mayweather Jr,50-0-0,welter,1996-2017,orthodox,"Las Vegas, USA"
2,3,Archie Moore,186-23-10,light heavy,1935-1963,orthodox,"San Diego, USA"
3,4,Ray Robinson,174-19-6,middle,1940-1965,orthodox,"Harlem, USA"
4,5,Manny Pacquiao,62-7-2,welter,1995-2019,southpaw,"General Santos City, Philippines"

In [19]:
box['win']= (box['w-l-d'].apply(lambda x : x.split('-')[0])).astype('int64')
box.head()

,rank,name,w-l-d,division,career,stance,residence,win,losses,draws
0,1,Ezzard Charles,95-25-1,light heavy,1940-1959,orthodox,"Cincinnati, USA",95,25,1
1,2,Floyd Mayweather Jr,50-0-0,welter,1996-2017,orthodox,"Las Vegas, USA",50,0,0
2,3,Archie Moore,186-23-10,light heavy,1935-1963,orthodox,"San Diego, USA",186,23,10
3,4,Ray Robinson,174-19-6,middle,1940-1965,orthodox,"Harlem, USA",174,19,6
4,5,Manny Pacquiao,62-7-2,welter,1995-2019,southpaw,"General Santos City, Philippines",62,7,2

In [18]:
box['losses']= (box['w-l-d'].apply(lambda x : x.split('-',2)[1])).astype('int64')
box.head()

,rank,name,w-l-d,division,career,stance,residence,win,losses,draws
0,1,Ezzard Charles,95-25-1,light heavy,1940-1959,orthodox,"Cincinnati, USA",95,25,1
1,2,Floyd Mayweather Jr,50-0-0,welter,1996-2017,orthodox,"Las Vegas, USA",50,0,0
2,3,Archie Moore,186-23-10,light heavy,1935-1963,orthodox,"San Diego, USA",186,23,10
3,4,Ray Robinson,174-19-6,middle,1940-1965,orthodox,"Harlem, USA",174,19,6
4,5,Manny Pacquiao,62-7-2,welter,1995-2019,southpaw,"General Santos City, Philippines",62,7,2

In [17]:
box['draws']= (box['w-l-d'].apply(lambda x : x.split('-',2)[-1])).astype('int64')
box.head()

,rank,name,w-l-d,division,career,stance,residence,win,losses,draws
0,1,Ezzard Charles,95-25-1,light heavy,1940-1959,orthodox,"Cincinnati, USA",95,25,1
1,2,Floyd Mayweather Jr,50-0-0,welter,1996-2017,orthodox,"Las Vegas, USA",50,0,0
2,3,Archie Moore,186-23-10,light heavy,1935-1963,orthodox,"San Diego, USA",186,23,10
3,4,Ray Robinson,174-19-6,middle,1940-1965,orthodox,"Harlem, USA",174,19,6
4,5,Manny Pacquiao,62-7-2,welter,1995-2019,southpaw,"General Santos City, Philippines",62,7,2

In [20]:
box['total']= box['win']+box['losses']+box['draws']
box.head()

,rank,name,w-l-d,division,career,stance,residence,win,losses,draws,total
0,1,Ezzard Charles,95-25-1,light heavy,1940-1959,orthodox,"Cincinnati, USA",95,25,1,121
1,2,Floyd Mayweather Jr,50-0-0,welter,1996-2017,orthodox,"Las Vegas, USA",50,0,0,50
2,3,Archie Moore,186-23-10,light heavy,1935-1963,orthodox,"San Diego, USA",186,23,10,219
3,4,Ray Robinson,174-19-6,middle,1940-1965,orthodox,"Harlem, USA",174,19,6,199
4,5,Manny Pacquiao,62-7-2,welter,1995-2019,southpaw,"General Santos City, Philippines",62,7,2,71

In [23]:
box['win_perc']= round((box['win']/box['total'])*100, 0)
box.head()

,rank,name,w-l-d,division,career,stance,residence,win,losses,draws,total,win_perc
0,1,Ezzard Charles,95-25-1,light heavy,1940-1959,orthodox,"Cincinnati, USA",95,25,1,121,79.0
1,2,Floyd Mayweather Jr,50-0-0,welter,1996-2017,orthodox,"Las Vegas, USA",50,0,0,50,100.0
2,3,Archie Moore,186-23-10,light heavy,1935-1963,orthodox,"San Diego, USA",186,23,10,219,85.0
3,4,Ray Robinson,174-19-6,middle,1940-1965,orthodox,"Harlem, USA",174,19,6,199,87.0
4,5,Manny Pacquiao,62-7-2,welter,1995-2019,southpaw,"General Santos City, Philippines",62,7,2,71,87.0

In [26]:
box['nationality']= box['residence'].apply(lambda x: x.split(',')[-1])
box['nationality'].value_counts()

 USA               67
 Mexico             7
 United Kingdom     6
 Australia          3
 Italy              3
 Puerto Rico        3
 France             3
 Argentina          2
 Ukraine            2
 Cuba               1
 Poland             1
Denmark             1
 Panama             1
 Hungary            1
 Spain              1
 Germany            1
 Philippines        1
Germany             1
Name: nationality, dtype: int64

In [27]:
box.head()

,rank,name,w-l-d,division,career,stance,residence,win,losses,draws,total,win_perc,nationality
0,1,Ezzard Charles,95-25-1,light heavy,1940-1959,orthodox,"Cincinnati, USA",95,25,1,121,79.0,USA
1,2,Floyd Mayweather Jr,50-0-0,welter,1996-2017,orthodox,"Las Vegas, USA",50,0,0,50,100.0,USA
2,3,Archie Moore,186-23-10,light heavy,1935-1963,orthodox,"San Diego, USA",186,23,10,219,85.0,USA
3,4,Ray Robinson,174-19-6,middle,1940-1965,orthodox,"Harlem, USA",174,19,6,199,87.0,USA
4,5,Manny Pacquiao,62-7-2,welter,1995-2019,southpaw,"General Santos City, Philippines",62,7,2,71,87.0,Philippines

In [28]:
box.columns

Index(['rank', 'name', 'w-l-d', 'division', 'career', 'stance', 'residence',
       'win', 'losses', 'draws', 'total', 'win_perc', 'nationality'],
      dtype='object')

In [33]:
box['career_start']= (box['career'].apply(lambda x : x.split('-')[0])).astype('int64')
box['career_end']= (box['career'].apply(lambda x : x.split('-')[-1])).astype('int64')
box['years_career']= box['career_end']-box['career_start']
box.head()

,rank,name,w-l-d,division,career,stance,residence,win,losses,draws,total,win_perc,nationality,career_start,career_end,years_career
0,1,Ezzard Charles,95-25-1,light heavy,1940-1959,orthodox,"Cincinnati, USA",95,25,1,121,79.0,USA,1940,1959,19
1,2,Floyd Mayweather Jr,50-0-0,welter,1996-2017,orthodox,"Las Vegas, USA",50,0,0,50,100.0,USA,1996,2017,21
2,3,Archie Moore,186-23-10,light heavy,1935-1963,orthodox,"San Diego, USA",186,23,10,219,85.0,USA,1935,1963,28
3,4,Ray Robinson,174-19-6,middle,1940-1965,orthodox,"Harlem, USA",174,19,6,199,87.0,USA,1940,1965,25
4,5,Manny Pacquiao,62-7-2,welter,1995-2019,southpaw,"General Santos City, Philippines",62,7,2,71,87.0,Philippines,1995,2019,24

In [34]:
df= box[['rank', 'name','division','years_career','stance', 'total','win', 'losses', 'draws','win_perc', 'nationality', 'residence']]

In [35]:
df.to_csv('boxerstats.csv', index=False)

In [36]:
df.head()

,rank,name,division,years_career,stance,total,win,losses,draws,win_perc,nationality,residence
0,1,Ezzard Charles,light heavy,19,orthodox,121,95,25,1,79.0,USA,"Cincinnati, USA"
1,2,Floyd Mayweather Jr,welter,21,orthodox,50,50,0,0,100.0,USA,"Las Vegas, USA"
2,3,Archie Moore,light heavy,28,orthodox,219,186,23,10,85.0,USA,"San Diego, USA"
3,4,Ray Robinson,middle,25,orthodox,199,174,19,6,87.0,USA,"Harlem, USA"
4,5,Manny Pacquiao,welter,24,southpaw,71,62,7,2,87.0,Philippines,"General Santos City, Philippines"